body {
	margin: 0;
	padding: 0;
}
/* NAVBAR */
ul {
	z-index: 9;
	position: absolute;
	display: flex;
	justify-content: center;
  width: 100%;
  align-items: center;
}

header ul li{
  list-style-type: none;  
  border-bottom: solid white;
  border-top: solid white;
  padding: 10px;
}

header ul li:hover{
  background-color: #c42d40;
}

header ul li a {
	text-decoration: none;
	list-style: none;
	margin: 10px;
	color: white;
}

header ul li a:hover {
	color: white;
}
header nav #logo img{
    margin: 25px;
}
header .row .iconeselect a{
  position: absolute;
  left: 1000px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
header .row .iconeselect a:hover{
  color: #c42d40;
}
header .row .iconeselect a #onlyleft{
  position: absolute;
  right: 1340px;
}
header .row .iconeselect a #onlyleft:hover{
  color: #c42d40;
}
header .row .icones-cercle{
  position: absolute;
  top: 700px;
  margin-left: 280px;
}
header .row .icones-cercle a{
  text-decoration: none;
  color: grey;
}
header .row .icones-cercle a:hover{
  color: #c42d40;
}
.container{
	text-align: center;
  background-color: white;
}
/* TITLE TASTE */
#onlyfont{
  font-family: "Courgette", cursive;
}
/* FIRST SQUAD */

#S1 .container .doubletriangle #triangle{
  position: absolute;
  top: 0px;
  left: 0px;
}
#S1 .container .doubletriangle #triangle2{
  position: absolute;
  top: 0px;
  right: 0px;
}

#S2 .alltriangle2 #triangleB{
  position: absolute;
  bottom: 0;
  left: 0;
}

#S2 .alltriangle2 #triangleB2{
  position: absolute;
  bottom: 0;
  right: 0;
}

#S1 .container h1{
  padding-top: 50px;
  font-family: "Courgette", cursive;
}

#S1 .container .row .soustitre{
  padding-bottom: 45px;
} 

.container .row {
	flex-direction: column;
}

.container .row .col span{
  margin-left: 100px;
}

.redf {
	color: #c42d40;
}

a.btn-default {
	border-radius: 30px;
	background-color: #fff;
	border: 1px solid #fff;
	color: black;
	font-size: 20px;
}
a.btn-default:hover{
  color: white;
  background-color: black;
}
a.btn-primary {
	border-radius: 30px;
	background-color: #c42d40;
	margin: 10px;
	font-size: 20px;
	border-color: #c42d40;
}
/* TEXT ON PICTURE */
.text {
	position: absolute;
	top: 13em;
	left: 23em;
	color: white;
}

.text .upper {
	text-transform: uppercase;
	font-size: 72px;
}

.text .redcolor {
	text-transform: uppercase;
	color: #c42d40;
	font-size: 72px;
}

.text .spangras {
	font-size: 72px;
}

.bs-slider-bottom {
	height: 20px;
	width: 100%;
}

#banner img {
	width: 100%;
	height: 30%;
	filter: brightness(20%);
}

#S1 {
	background-image: url("../images/main_bg.jpg");
	padding: 50px;
}

#S1 .container {
	filter: brightness(95%);
}
/* SQUAD 2 */

#S2 .container .menu{
  font-size: 30px;
  font-family: "Courgette", cursive;
  position: absolute;
  left: 0px;
  top:  255px;
}
#S2 .container .menu .caset{
  border-bottom: solid;
  border-right: solid 5px;
  border-color:rgb(226, 226, 226);
}
#S2 .container .menu .caset a{
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 60px;
}
#S2 .container .menu #onlyred{
  border-right: solid 5px #c42d40;
}

#S2 .allcartonlist {
	display: flex;
	margin: 85px;
	margin-left: 250px;
	text-align: left;
	padding-bottom: 180px;
}

#S2 .boitelist {
	display: flex;
	align-items: center;
}

#S2 .boitelist img {
	border-radius: 50%;
	box-shadow: 0 0 15px black;
	width: 125px;
	margin-right: 50px;
	margin: 10px;
}

#S2 .strong {
	font-weight: bold;
}

#S2 .grey {
	color: #838383;
}

#S2 p{
	background-color: #f1f1f1;
	height: max-content;
	color: #c42d40;
	margin: 30px;
}

.bgbg img {
	background-attachment: fixed;
	background-size: cover;
}

#S3 {
	background-image: url("../images/team_background.jpg");
}

#S3 .container {
	background: transparent;
	padding-top: 60px;
	display: flex;
	color: white;
}

#S3 .container .chef{
	padding: 28px;
}
/* SQUAD 4 */

#S4 .container .alltrianglegrey #trianglegrey{
  position: absolute;
  top: 0;
  left: 0;
}
#S4 .container .alltrianglegrey #trianglegrey2{
  position: absolute;
  top: 0;
  right: 0;
}
#S4 {
	background-image: url(../images/main_bg.jpg);
	padding-top: 50px;
}

#S4 h1 {
	font-family: "Courgette", cursive;
	text-align: center;
}
#S4 .soustitre img{
  padding-bottom: 80px;
}

#red {
	color: #c42d40;
	font-size: 50px;
}

#S4 .container {
  filter: brightness(95%);
  padding: 200px;
}

#S4 .container .allform {
	display: flex;
  justify-content: center;
  background-image: url(../images/book_table_bg.jpg);
  background-size: cover;
  border-radius: 28px;
}

#S4 .container .allform form{
  margin: 70px;
}

#S4 .container .allform form input {
	margin: 15px;
	padding: 8px;
	border-radius: 10px;
	border-style: double;
	border-color: #dfdfdf;
}

#S4 .btn button {
	text-align: center;
	display: flex;
	justify-content: center;
	border-radius: 15px;
	font-size: 20px;
}
/* SQUAD 5 */
#S5 .container .alltrianglegreyB #trianglegreyB{
  position: absolute;
  bottom: 0;
  left: 0;
}
#S5 .container .alltrianglegreyB #trianglegreyB2{
  position: absolute;
  bottom: 0;
  right: 0;
}

#S5 {
  background-image: url(../images/main_bg.jpg);
  padding-bottom: 50px;
}

#S5 .container {
	filter: brightness(95%);
	border-radius: solid;
}

#S5 h1 {
	font-family: "Courgette", cursive;
}

#S5 #red {
	color: #c42d40;
}

#S5 .container .row .allcard {
	display: flex;
	justify-content: center;
  text-align: left;
  margin: 50px;
}

#S5 .btn button {
	border-radius: 30px;
	margin: 20px;
	font-size: 17px;
	font-weight: bold;
	padding: 10px;
}

#S5 .card {
	margin: 20px;
	transition: 0.5s;
	border-style: double;
	border-color: #c3c3c3;
	border-radius: 30px;
}

#S5 .card:hover {
	box-shadow: 0 0 20px grey;
}

#S5 .card h5 {
	font-weight: bold;
}

#S5 .card img {
	border-style: double;
	border-color: #c3c3c3;
	border-radius: 30px;
}

#S5 .card span {
	background-color: #c42d40;
	border-radius: 17px;
	padding: 20px;
	color: white;
	margin-left: 20px;
	font-weight: bold;
	top: 230px;
	font-size: 20px;
	width: 88%;
	position: absolute;
}

#S5 .card .doubleP {
	padding: 30px;
}
 /* SQUAD 6 */
#S6 {
	background-image: url("../images/testimonials_background.jpg");
	filter: brightness(80%);
}

#S6 .container {
	background: transparent;
	color: white;
}

#S6 .container h1 {
	color: white;
	font-family: "Courgette", cursive;
	padding: 50px;
}

#S6 .container h1 #red {
	color: #c42d40;
}

#S6 .container .fw{
  font-weight: bold;
} 

#S6 .container .allDFLEX {
	display: flex;
	padding: 20px;
	margin-right: 400px;
}

#S6 .container .allDFLEX .imgtest img {
  border-radius: 50%;
	border-color: white;
  border-style: groove;
  box-shadow: 0 0 15px #c42d40;
}

#S6 .container .allDFLEX .case {
	text-align: left;
	margin: 15px;
	border-radius: 15px;
	border-style: solid;
	border-color: white;
	padding: 20px;
}

#S6 .container .allDFLEX .case h5 {
	font-weight: bold;
}

#S6 .container .allDFLEX .case span {
	color: #c42d40;
}

#S7 {
	filter: brightness(95%);
	background-image: url("../images/main_bg.jpg");
}

#S7 .container {
	background: transparent;
	padding: 50px;
}

#S7 .container h1 {
	font-family: "Courgette", cursive;
	padding-top: 50px;
}
#S7 .container .soustitre{
  padding-bottom: 60px;
}

#S7 .container h1 #red {
	color: #c42d40;
}

#S7 .container .bgred {
	background-color: #c42d40;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	display: inline-block;
}

#S7 .container .bgred .row {
	padding: 18px;
}

#S7 .container .bgred .row hr {
	width: 100%;
	background-color: white;
}

#S7 .container i {
	padding: 20px;
	font-size: 50px;
}

footer {
	background-image: url(../images/footer_background.jpg);
}

footer .container {
	background: transparent;
	color: white;
	text-align: left;
	display: flex;
}

footer .container h2{
  font-weight: bold;
  padding: 20px;
}

footer p {
	margin: 10px;
	text-align: left;
}

footer .icones i {
	margin: 15px;
	font-size: 35px;
}
footer .icones i:first-of-type{
  color: white;
}
footer .icones i:hover{
  color: #c42d40;
}

footer .container .row {
	display: flex;
}

footer .container .imginsta,
footer .container .imginsta2 {
	margin: 7px;
	padding: 5px;
}
footer .container .bottomdeco img{
  position: absolute;
  background-color: red;
}
footer .container .allbtn{
	display: flex;
}

footer .btn {
	border-style: solid;
	border-color: white;
  border-radius: 17px;
  padding: 7px;
}